{
  "presets": [
    "flow",
    ["env", {
      "targets": { "node": "current" },
      "useBuiltIns": "usage"
    }]
  ],
  "plugins": [
    "transform-async-generator-functions",
    "transform-class-properties",
    "transform-object-rest-spread",
    ["transform-builtin-classes", {
      "globals": ["Error"]
    }]
  ]
}
