{
  "presets": [
    "flow",
    ["env", { "targets": { "node": true } }]
  ],
  "plugins": [
    "transform-async-generator-functions",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
