{
  "presets": [
    "flow",
    ["env", {
      "targets": {
        "node": "8.0.0",
        "browsers": [
          "> 1%",
          "last 2 versions",
          "not ie <= 10"
        ]
      }
    }]
  ],
  "plugins": [
    "transform-async-generator-functions",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
